<a href="https://colab.research.google.com/github/shiwanggarg/Assignments/blob/main/1_3053_rai3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
print('"Twinkle, twinkle, little star,\n\t How I wonder what you are!\n\t\t Up above the world so high,\n\t\t\t Like a diamond in the sky.\n\t\t\t\t Twinkle, twinkle, little star,\n\t\t\t\t\t How I wonder what you are"')

"Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
			 Like a diamond in the sky.
				 Twinkle, twinkle, little star,
					 How I wonder what you are"

In [ ]:
#Q2
a=input("Enter your first name : ")
b=input("Enter your last name : ")
print("Your name is : "+b+" "+a)

Enter your first name : shiwang
Enter your last name : garg
Your name is : garg shiwang

In [ ]:
#Q3
radius=float(input("Enter the value of radius : "))
pie=3.142
area=pie*(radius**2)
print("Area of circle is : ",area)

Enter the value of radius : 3.14
Area of circle is :  30.9788632

In [ ]:
#Q4
color_list=["Red","Green","White" ,"Black"]
first_color=color_list[0]
last_color=color_list[3]
print("First color is : ",first_color)
print("Last color is : ",last_color)

First color is :  Red
Last color is :  Black

In [ ]:
#Q5
n=int(input("Enter the value of n : "))
a=str(n)
b=a+a
c=a+a+a
d=int(a)+int(b)+int(c)
print("Value of n+nn+nnn is : ",d)

Enter the value of n : 5
Value of n+nn+nnn is :  615

In [ ]:
#Q6
x = str(input("Enter the number: ")).split(",")
print(x)
x = tuple(x)
print(x)

Enter the number: 2
['2']
('2',)

In [ ]:
#Q7
Celsius=float(input('Enter the celsius value of temprature : '))
Fahrenheit=(9/5)*Celsius+32
print("Temprature in Fahrenheit is :  ",Fahrenheit)

Enter the celsius value of temprature : 25.5
Temprature in Fahrenheit is :   77.9

In [ ]:
#Q8
a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
print('Values of a and b respectively before swapping is : ',a,b)
temp=a
a=b
b=temp
print('Value of a and b respectively after swapping is : ',a,b)
#Incremeting a by 1 we get the value as
a+=1
print('Value of a after increment is : ',a)

Enter the value of a : 2
Enter the value of b : 3
Values of a and b before swapping is :  2 3
Value of a and b after swapping is :  3 2
Value of a after increment is :  4

In [ ]:
#Q9
a=int(input("Enter the value of a : "))
if (a%2==0):
    print("Entered number is even number")
else:
    print("Entered number is a odd number")

Enter the value of a : 12
Entered number is even number

In [ ]:
#10
year=int(input("Enter the year : "))
if (year%4==0 and year%100!=0) or (year%400==0):
    print("Entered year is a leap year")
else:
    print("Entered year is not a leap year")

Enter the year : 2024
Entered year is a leap year

In [ ]:
#11

x1,y1 = int(input("x1:")), int(input("y1:"))
x2,y2 = int(input("x2:")), int(input("y2:"))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(distance)

x1:1
y1:2
x2:3
y2:4
2.8284271247461903

In [ ]:
#12
a=float(input("Enter the value of fisrt angle in degrees : "))
b=float(input("Enter the value of second angle in degrees : "))
c=float(input("Enter the value of third angle in degrees : "))
if (a+b+c==180):
    print("Entered angles are valid")
else:
    print("Entered angles are not valid")

Enter the value of fisrt angle in degrees : 120
Enter the value of second angle in degrees : 30
Enter the value of third angle in degrees : 30
Entered angles are valid

In [ ]:
#13
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate (as a percentage): ")) / 100
time = float(input("Enter the time (in years): "))
n = int(input("Enter the number of times interest is compounded per year: "))

amount = principal * (1 + rate / n) ** (n * time)
interest = amount - principal

# Output the result
print("Compound Interest: ",interest)
print("Total Amount : ",amount)

Enter the principal amount: 1200
Enter the annual interest rate (as a percentage): 20
Enter the time (in years): 2
Enter the number of times interest is compounded per year: 3
Compound Interest:  567.4762534979423
Total Amount :  1767.4762534979423

In [ ]:
#14

N = int(input("Enter a positive integer: "))
if N <= 1:
    print(f"{N} is not a prime number.")
else:

    is_prime = True


    for i in range(2, int(N**0.5) + 1):
        if N % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{N} is a prime number.")
    else:
        print(f"{N} is not a prime number.")

Enter a positive integer: 25
25 is not a prime number.

In [ ]:
#15
N=int(input("Enter a positive integer : "))
result= N * (N + 1) * (2 * N + 1) // 6
print("The sum of squares from 1^2 to {N}^2 is: ",result)

Enter a positive integer : 5
The sum of squares from 1^2 to {N}^2 is:  55