<a href="https://colab.research.google.com/github/shiwanggarg/Assignments/blob/main/Assignment3_3053_RAI3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
def difference(num):
    if num > 17:
        return 2 * abs(num - 17)
    else:
        return 17 - num

num = int(input("Enter a number: "))
result = difference(num)
print(f"The result is: {result}")

Enter a number: 2
The result is: 15

In [ ]:
#Q2
def check(num):
  if num>=100 and num<=1000 or num==2000:
    return True
  else:
    return False

num=int(input("Enter a number : "))
result=check(num)
if result:
    print(f"{num} is within the range 100 to 1000 or it is 2000.")
else:
    print(f"{num} is not within the range 100 to 1000 or 2000.")

Enter a number : 1000
1000 is within the range 100 to 1000 or it is 2000.

In [ ]:
#Q3
def reverse_string(s):
    return s[::-1]

string = input("Enter a string: ")
reversed_string = reverse_string(string)
print(f"The reversed string is: {reversed_string}")

Enter a string: Hello World
The reversed string is: dlroW olleH

In [ ]:
#Q4
def count(string):
    upper_count = 0
    lower_count = 0

    for letter in string:
        if letter.isupper():
            upper_count += 1
        elif letter.islower():
            lower_count += 1

    return upper_count, lower_count

string = input("Enter a string: ")
upper, lower = count(string)

print(f"Uppercase letters: {upper}")
print(f"Lowercase letters: {lower}")

Enter a string: Hello World
Uppercase letters: 2
Lowercase letters: 8

In [ ]:
#Q5
def New_List(num):
    return list(set(num))

List = [2,4,6,8,10,100,63,34]
distinct_list = New_List(List)

print("Original list:", List)
print("List with distinct elements:", distinct_list)

Original list: [2, 4, 6, 8, 10, 100, 63, 34]
List with distinct elements: [2, 34, 4, 100, 6, 8, 10, 63]

In [ ]:
#Q6
def even_numbers(List):
    even_numbers = [num for num in List if num % 2 == 0]
    return even_numbers
List = [10,9,8,7,6,5,4,3,2,1]
result = even_numbers(List)

print(f"Even numbers: {result}")

Even numbers: [10, 8, 6, 4, 2]

In [ ]:
#Q7
def outer_function(text):
    def inner_function():
        print(f"Hello {text}")

    inner_function()

outer_function("World")

Hello World

In [ ]:
#Q8
def student(name, age, grade):
    student.name = name
    student.age = age
    student.grade = grade

    for attribute in student.__dict__:
        print(f"{attribute} : {getattr(student, attribute)}")

student("Harry",17,"12th Grade")

name : Harry
age : 17
grade : 12th Grade

In [ ]:
#Q9
class Student:
    def __init__(self, student_id, student_name):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = None

    def set_student_class(self, student_class):
        self.student_class = student_class

    def display_attributes(self):

        print(f"Student ID: {self.student_id}")
        print(f"Student Name: {self.student_name}")
        print(f"Student Class: {self.student_class}")


student1 = Student(3053, "Shiwang Garg")
student1.set_student_class("Btech 2nd Year")
student1.display_attributes()

Student ID: 3053
Student Name: Shiwang Garg
Student Class: Btech 2nd Year

In [ ]:
#Q10
class Student:
    def __init__(self, student_id, student_name, student_class):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = student_class

    def display_attributes(self):
        print(f"Student ID: {self.student_id}")
        print(f"Student Name: {self.student_name}")
        print(f"Student Class: {self.student_class}")

student1 = Student(1, "Harry", "Second Year")
student2 = Student(2, "Sakshi", "First Year")

#student1
print("Attributes of student1:")
student1.display_attributes()
print()

#student2
print("Attributes of student2:")
student2.display_attributes()

Attributes of student1:
Student ID: 1
Student Name: Harry
Student Class: Second Year

Attributes of student2:
Student ID: 2
Student Name: Sakshi
Student Class: First Year

In [ ]:
#11
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * (self.radius ** 2)

    def perimeter(self):
        return 2 * math.pi * self.radius

circle = Circle(7)

print(f"Area of the circle: {circle.area()}")
print(f"Perimeter of the circle: {circle.perimeter()}")

Area of the circle: 153.93804002589985
Perimeter of the circle: 43.982297150257104

In [ ]:
#12
class string_in_upper_case:
    def __init__(self):
        self.text = ""

    def get_String(self):
        self.text = input("Enter a string: ")

    def print_String(self):
        print(self.text.upper())

string_in_upper_case = string_in_upper_case()
string_in_upper_case.get_String()
string_in_upper_case.print_String()

Enter a string: shiwang
SHIWANG